.card {
  .card-img-top {

    transition: all .4s ease-in-out;
  }
  .product-quantity{
    left: 0;
    top: 1.25rem;
    z-index: 100;
    font-size: .75rem;
  }
  &:hover {
    .card-img-top {

      transform: scale(1.2);
    }
  }
  .edit{
    top: 1.25rem;
    right: 1.25rem;
    line-height: 0;
  }
  button{
    font-size: .85rem;
    z-index: 100;
  }
}
